<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Group Peer Evaluation Assignment Progress</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      
      <% students.forEach(function(student){ %>
        <div>
          <h2><%= student.sortable_name %></h2>
          <% if(student.evaluationSummary) { %>
            <%- include('partials/evaluation-summary', {evaluationSummary: student.evaluationSummary}); %>
          <% } %>
          <% if(student.assignedEvaluations) { %>
            <% student.assignedEvaluations.forEach(function(assignedEvaluation){ %>
              <div class="alert alert-<%= assignedEvaluation.completed ? 'success' : 'warning' %>">
                <%= assignedEvaluation.evaluatee_name %>
                <%= assignedEvaluation.submittedAt %>
              </div>
            <% }); %>
          <% } else { %>
            <div class="alert alert-danger">No assigned evaluations</div>
          <% } %>
      <% }); %>
      </ul>

      <h1>Group Peer Evaluation Assignment Progress</h1>
      <table class="table">
        <tr>
          <th>Evaluator</th>
          <th>Evaluatee</th>
          <th>Completed</th>        
        </tr>
        <% assignedEvaluations.forEach(function(assignedEvaluation){ %>          
          <tr class="<%= assignedEvaluation.completed ? 'table-success' : 'table-warning' %>">
            <td><%= assignedEvaluation.evaluator_name %></td>
            <td>
              <a href="/evaluations/<%= assignedEvaluation.id %>">
                <%= assignedEvaluation.evaluatee_name %>
              </a>
            </td>
            <td><%= assignedEvaluation.completed ? 'Yes' : 'No' %></td>
          </tr>
        <% }); %>
      </table>
      <a href="generate-summaries/<%= evaluation.id %>" class="btn btn-secondary">Generate Summaries</a>
    </div>
  </body>  
</html>