<div class="card border-success" style="margin-bottom: 2rem;">
  <div class="card-body">
    <h5 class="card-title">Evaluation summary for <%= evaluationSummary.evaluatee_name %></h5>
    <hr/>
    <div>
      <p>
        Participates in group discussion:
        <b><%= evaluationSummary.discussion_score %></b>
      </p>
      <p>
        Helped keep group focused and on-task:
        <b><%= evaluationSummary.on_task_score %></b>
      </p> 
      <p>
        Contributed useful ideas:
        <b><%= evaluationSummary.ideas_score %></b>
      </p>
      <p>
        Quality of work done:
        <b><%= evaluationSummary.work_quality_score %></b>
      </p> 
      <p>
        Quantity of work done:
        <b><%= evaluationSummary.work_quality_score %></b>
      </p> 
      <p>
        Quantity of work done:
        <b><%= evaluationSummary.communication_score %></b>
      </p> 
      <p>
        Is there any advice you would like to share with <%= evaluationSummary.evaluatee_name %>?
        <blockquote><%= evaluationSummary.advice %></blockquote>
      </p> 
    </div>
    
  </div>
</div>